#explorer-view-cytoscape{
    border-color:black;
    border-style:solid;
}

.header-text{
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
    position: relative;
}

.text-sentence{
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
    position: relative;
}

.button-scroll{
    height: 20px;
    width: 22px;
    text-align:center;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    top: -2px;
    line-height: 10px;
}